.nav-container {
  display: flex;
}

.header {
  height: 80px;
  width: 100%; /* this enlarge the header background 100%  */
  background-color: aqua;
}

.nav-container ul li a {
  display: flex;
  justify-content: ;
  /* align-items: center; */
  /* justify-content: start; */
}
