.nav-container {
  display: flex;
}

.header {
  height: 80px;
  width: 100%; /* this enlarge the header background 100%  */
  background-color: aqua;
}

/* nav {
  display: flex;
} */

.nav-container {
  max-width: 1180px;
  margin: auto;
  align-items: center;
}

.nav-container ul li a {
  /* justify-content: space-between; */
}
