* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}
.nav-container {
  display: flex;
}

.header {
  height: 80px;
  width: 100%; /* this enlarge the header background 100%  */
  background-color: aqua;
}

.nav-container ul li {
  /* align-items: center; */
  /* justify-content: start; */
  
  
}
